/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/.vscode
/public/css/*
/public/js/*
/public/taiwan/*
/public/mix-manifest.json
/public/seeding/members.txt
/public/seeding/team_bonuses.txt
/public/seeding/member_rank_transaction.txt
/public/seeding/member_tree_for_user_table.txt
/public/seeding/addressess.txt
/public/seeding/sales.txt
/public/yy/*
/public/requests/*
laravel-echo-server.json